body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #220022;
    color: white;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    background-color: #ff1493;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
    border-radius: 5px;
}

button:hover {
    background-color: #ff69b4;
}

input {
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 5px;
}

.heart-bg {
    position: absolute;
    font-size: 2em;
    animation: float 10s infinite;
}

.heart-bg:nth-child(1) {
    left: 20%;
    animation-duration: 8s;
}

.heart-bg:nth-child(2) {
    left: 50%;
    animation-duration: 9s;
}

.heart-bg:nth-child(3) {
    left: 30%;
    animation-duration: 12s;
}

.heart-bg:nth-child(4) {
    left: 70%;
    animation-duration: 11s;
}

.heart-bg:nth-child(5) {
    left: 10%;
    animation-duration: 13s;
}

@keyframes float {
    0% {
        top: 80%;
        opacity: 1;
    }
    50% {
        top: 50%;
        opacity: 0.6;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}
